<section class="intro">
  <div class="container">
    <p class="lead">Hi, we're <strong class="author-name" itemprop="name">CoderDojo York</strong> a monthly programming club for young people aged 7-17 in York.
      Learn how to code, develop apps and games, and most importantly have fun doing it!</p>
    <p class="lead">We are a growing and active group, so please come along! <a class="next-session" href="{{ '/next-session' | prepend: site.baseurl }}">Our next session is on {{ site.next_session_long }}</a> from 10am to noon.</p>
    <p>All the worksheets we use are freely available to all on this website, take a look at some&hellip;

    <ul>
      <li><a href="/worksheets/scratch/">Mastering Scratch games</a></li>
      <li><a href="/worksheets/microbit/">Experiment with the BBC Microbit and Raspberry Pi</a></li>
      <li><a href="/worksheets/arduino">Make robots with Arduino and electronics</a></li>
      <li><a href="/worksheets/sonic-pi/">Make code into music with Sonic Pi</a></li>
    </p>
  </div>
</section>
