<section class="intro">
  <div class="container">
    <p class="lead">Hi, we're <strong class="author-name" itemprop="name">CoderDojo York</strong> a monthly programming club for young people aged 7-17 in York.</p>
    <p class="lead">We are a growing and active group, so please come along! <a class="next-session" href="{{ '/next-session' | prepend: site.baseurl }}">Our next session is on {{ site.next_session_long }}</a> from 10am to noon.</p>
    <p>All the worksheets we use are freely available to all on this website, take a look at <a href="/worksheets/microbit/">our microbit</a> and <a href="/worksheets/arduino/">ardiuno worksheets</a>.</p>
  </div>
</section>
